.cursor-poiter {
	cursor: pointer;
}

.display-none {
	display: none;
}

.bg-loading {
	width: 100%;
	height: 100vh;
	display: flex;
	position: fixed;
	z-index: 999;
}

.custom-spinner {
	width: 4rem;
	height: 4rem;
}

.image-area {
	border: 2px dashed rgb(134 134 134/ 70%);
	padding: 1rem;
	position: relative;
}

.image-area::before {
	content: 'Uploaded image result';
	color: #b3b3b3;
	font-weight: bold;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 0.8rem;
	z-index: 1;
}

.image-area img {
	z-index: 2;
	position: relative;
}

.error-code {
	font-size: 200px;
}