<th:block th:fragment="pagination" xmlns:th="http://www.thymeleaf.org">
    <nav class="col-12 mt-3 d-flex justify-content-center" th:if="${pageContent.totalPages > 1 and !isSearch}">
        <ul class="pagination m-0">
            <li class="page-item">
                <a class="page-link" th:href="@{/management/chapter?pageNumber=0}" th:if="${not pageContent.first}">
                    <i class="fas fa-angle-double-left"></i>
                </a>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(0, pageContent.totalPages - 1)}" th:classappend="${pageContent.number eq i} ? 'active' : ''">
                <a class="page-link" th:href="@{${'/management/chapter?pageNumber='} + ${i}}" th:text="${i} + 1"></a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{${'/management/chapter?pageNumber='} + ${pageContent.totalPages - 1}}" th:if="${not pageContent.last}">
                    <i class="fas fa-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </nav>
    <nav class="col-12 mt-3 d-flex justify-content-center" th:if="${pageContent.totalPages > 1 and isSearch}">
        <ul class="pagination m-0">
            <li class="page-item">
                <button class="page-link" th:if="${not pageContent.first}">
                    <i class="fas fa-angle-double-left"></i>
                </button>
            </li>
            <li class="page-item" th:each="i: ${#numbers.sequence(0, pageContent.totalPages - 1)}" th:classappend="${pageContent.number eq i} ? 'active' : ''">
                <a class="page-link" th:text="${i} + 1"></a>
            </li>
            <li class="page-item">
                <button class="page-link" th:if="${not pageContent.last}">
                    <i class="fas fa-angle-double-right"></i>
                </button>
            </li>
        </ul>
    </nav>
</th:block>