<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
     <!-- Title -->
     <title>Sorry, This Page Can't Be Accessed</title>
     <meta charset="utf-8" />
     <link rel="stylesheet" type="text/css" th:href="@{../css/403error.css}"/>
</head>
<body>
    <div class="container-xxl" layout:fragment="content">
          <div class="row mt-5">
               <div class="col-md-2 text-center">
                    <p><i class="fa fa-exclamation-triangle fa-5x"></i><br/>Status Code: 403</p>
               </div>
               <div class="col-md-10">
                    <h3>OPPSSS!!!! Sorry...</h3>
                    <p>Sorry, your access is refused due to security reasons of our server and also our sensitive data.<br/>Please go back to the previous page to continue browsing.</p>
                    <a class="btn btn-danger" th:href="@{/}">Go back</a>
               </div>
          </div>
     </div>
</body>
</html>