<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <meta charset="utf-8">
        <title>Quản lý người dùng</title>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-12">
                                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Quản lý người dùng</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-12">
                                <div class="card card-stats">
                                    <!-- Card body -->
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-12">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Tìm kếm</h5>
                                                <form class="row mt-3" th:action="@{/management/search-account}" th:object="${formSearchAccount}" method="POST">
                                                    <div class=" col-3">
                                                        <input type="text" class="form-control" placeholder="Tài khoản"
                                                            th:field="*{userName}">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" class="form-control" placeholder="Họ và tên" th:field="*{fullName}">
                                                    </div>
                                                    <div class="col-3">
                                                        <input type="text" class="form-control" placeholder="Email"
                                                            th:field="*{email}">
                                                    </div>
                                                    <div class="col-3">
                                                    
                                                        <select class="form-control" id="exampleFormControlSelect1" th:field="*{gender}">
                                                            <option value="">----Giới tính----</option>
                                                            <option value="1">Nam</option>
                                                            <option value="0">Nữ</option>
                                                            <option value="2">Khác</option>
                                                            
                                                        </select>
                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        <button class="btn btn-primary"><i class="fas fa-search"></i> Tìm kiếm</button>
                                                        <a th:href="@{/management/account}" class="btn btn-info"><i class="fas fa-eraser"></i> Xóa</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--6">
                <div class="row justify-content-center">
                    <div class=" col ">
                        <div class="card">
                            <div class="card-header bg-transparent row">
                                <h3 class="mb-0 col-10">Toàn bộ người dùng</h3>
                                <div class="col-2">
                                   <a th:href="@{/management/create-account}" class="btn btn-sm btn-success float-right"><i class="fas fa-plus"></i> Người dùng mới</a>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row icon-examples">
                                    <div class="table-responsive">
                                        <table class="table align-items-center table-flush">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th scope="col" class="sort" data-sort="name">Tài khoản</th>
                                                    <th scope="col" class="sort" data-sort="budget">Họ và tên</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col" class="sort" data-sort="completion">Giới tính</th>
                                                    <th scope="col">Số điện thoại</th>
                                                    <th scope="col"></th>
                                                </tr>
                                            </thead>
                                            <tbody th:each="acc : ${listAccount}">
                                                <tr>
                                                    <td th:text="${acc.userName}"></td>
                                                    <td th:text="|${acc.lastName} ${acc.middleName} ${acc.firstName}|"></td>
                                                    <!--<td th:if="${acc.middleName == null || acc.middleName == ''}">[[${acc.firstName}]] [[${acc.middleName}]] [[${acc.lastName}]]-->
                                                    <td th:text="${acc.email}"></td>
                                                    <td th:if="${acc.gender == 1}">Nam</td>
                                                    <td th:if="${acc.gender == 0}">Nữ</td>
                                                    <td th:if="${acc.gender == 2}">Khác</td>
                                                    <td th:if="${acc.gender == null || acc.gender == ''}">Chưa cập nhật</td>
                                                    <td th:text="${acc.numberPhone}"></td>
                                                    <td>
                                                        <a th:href="@{${'/management/edit-account?accountId='} + ${acc.accountId}}" class="btn btn-info btn-sm"><i class="fas fa-edit"></i></a>
                                                        <a th:href="@{${'/management/delete-account?accountId='} + ${acc.accountId}}" class="btn btn-danger btn-sm"><i class="fas fa-trash-alt"></i></a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>