<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <title>Quản lý chương</title>
        <meta charset="utf-8">
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-12">
                                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a th:href="@{/management/dashboard}"><i class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Danh sách chương</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-12">
                            <div class="card card-stats">
                                <!-- Card body -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-12">
                                            <h5 class="card-title text-uppercase text-muted mb-0">Tìm kiếm</h5>
                                                <form class="row mt-3" th:action="@{/management/search-chapter}" th:object="${formSearchChapter}" method="post" id="formSearch">
                                                    <div class="col-12" th:if="${success != null}">
							                            <div class="alert alert-success alert-dismissible fade show" role="alert">
							                                <span class="alert-icon"><i class="fas fa-check-circle"></i></span>
							                                <span class="alert-text" th:text="${success}"></span>
							                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							                                    <span aria-hidden="true">&times;</span>
							                                </button>
							                            </div>
							                        </div>
                                                    <input type="hidden" th:field="*{pageNumber}" id="pageNumber">
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" placeholder="Tên chương" th:field="*{name}" autofocus>
                                                    </div>
                                                    <div class="col-6">
                                                        <input type="text" class="form-control" placeholder="Nội dung" th:field="*{content}">
                                                    </div>
                                                    <div class="col-12 mt-3">
                                                        <div class="input-daterange datepicker row align-items-center">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                                        </div>
                                                                        <input class="form-control" placeholder="Ngày cập nhật từ" type="text" th:field="*{updateAtFrom}" autocomplete="off">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <div class="input-group">
                                                                        <div class="input-group-prepend">
                                                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                                        </div>
                                                                        <input class="form-control" placeholder="Ngày cập nhật đến" type="text" th:field="*{updateAtTo}" autocomplete="off">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-12">
                                                        <button class="btn btn-primary"><i class="fas fa-search"></i> Tìm kiếm</button>
                                                        <a th:href="@{../management/chapter}" class="btn btn-info"><i class="fas fa-eraser"></i> Xóa</a>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--6">
                <div class="row justify-content-center">
                    <div class=" col">
                        <div class="card">
                            <div class="card-header bg-transparent row">
                                <h3 class="mb-0 col-10">Toàn bộ chương</h3>
                                <div class="col-2">
                                   <a th:href="@{/management/create-chapter}" class="btn btn-sm btn-success float-right"><i class="fas fa-plus"></i> Chương mới</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center table-flush">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>Tên chương</th>
                                            <th>Nội dung</th>
                                            <th>Mô tả</th>
                                            <th>Số lượng câu hỏi</th>
                                            <th>Cập nhật gần nhất</th>
                                            <th>Người cập nhật</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <tr th:each="chapter : ${pageContent.content}" th:if="${pageContent.totalElements != 0}">
                                            <th class="text-center">
                                                <a th:href="@{${'/management/chapter-detail?chapterId='} + ${chapter.chapterId}}" th:text="${chapter.name}"></a>
                                            </th>
                                            <td class="text-center">
                                                <span class="name mb-0 text-sm" th:text="${chapter.content}"></span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${chapter.description}"></span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${chapter.listQuestion.size}"></span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${#dates.format(chapter.updateAt, 'dd/MM/yyyy HH:mm')}"></span>
                                            </td>
                                            <td class="text-center">
                                                <span th:text="${chapter.updateBy}"></span>
                                            </td>
                                        </tr>
                                        <tr th:if="${pageContent.totalElements == 0}">
                                            <td colspan="5"><span class="text-danger">Không có dữ liệu!</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer py-4">
                                <div th:insert="fragment-common/pagination :: pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </body>
</html>