<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <title>Tạo kỳ thi</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{../css/create-exam.css}" type="text/css">
    </head>
    
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary">
              <div class="container-fluid">
                <div class="header-body">
                  <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item"><a th:href="@{/management/exam}">Quản lý kỳ thi</a></li>
                          <li class="breadcrumb-item active" aria-current="page">Tạo kỳ thi</li>
                        </ol>
                      </nav>
                    </div>
                    <div class=" col-12">
                        <div class="card">
                            <div class="card-header bg-transparent">
                                <h3 class="mb-0">Tạo kỳ thi</h3>
                            </div>
                            <div class="card-body">
                                <form th:action="@{/management/create-exam}" th:object="${examForm}" method="POST" id="create-exam-form">
                                    <input type="hidden" name="isUpdate" value="false">
                                    <div class="row">
                                        <div class="col-12">
                                            <label for="name">Tên kỳ thi</label>
                                            <span class="text-danger">*</span>
                                            <input id="name" type="text" class="form-control" placeholder="Tên kỳ thi" name="name" th:field="*{name}" maxlength="255"/>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <label for="description">Mô tả kỳ thi</label>
                                            <textarea id="description" cols="5" class="form-control" placeholder="Mô tả kỳ thi" name="description" th:field="*{description}" maxlength="4000"></textarea>
                                        </div>
                                    </div>
                                    <div class="input-daterange datepicker row align-items-center mt-3">
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="startDate">Ngày bắt đầu đăng ký</label>
                                                <span class="text-danger">*</span>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input id="startDate" class="form-control" placeholder="Ngày bắt đầu đăng ký" type="text" autocomplete="off" th:field="*{dateRegisExamStart}" maxlength="10" name="startDate">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="form-group">
                                                <label for="endDate">Ngày kết thúc đăng ký</label>
                                                <span class="text-danger">*</span>
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                    </div>
                                                    <input id="endDate" class="form-control" placeholder="Ngày kết thúc đăng ký" type="text" autocomplete="off" th:field="*{dateRegisExamEnd}" maxlength="10" name="endDate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="form-group">
                                                <label for="type">Loại bằng</label>
                                                <span class="text-danger">*</span>
                                                <select class="form-control" id="type" th:field="*{drivingLicenseId}">
                                                    <option value="">Chọn loại</option>
                                                    <option th:each="drivingLicense : ${listDrivingLicense}" th:text="${drivingLicense.name}" th:value="${drivingLicense.drivingLicenseId}"></option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3 text-center">
                                            <input type="submit" value="Tạo kỳ thi" class="btn btn-primary"/>
                                            <a th:href="@{/management/create-exam}" class="btn btn-secondary">Làm mới</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/create-exam.js}"></script>
        </th:block>
    </body>
</html>