<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <title>Tạo chương</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" th:href="@{../css/create-chapter.css}" type="text/css">
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-4">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-12">
                                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a th:href="@{/management/dashboard}"><i class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item"><a th:href="@{/management/chapter}">Quản lý chương</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Tạo chương</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-10">
                                        <h2 class="mb-0">Tạo chương</h2>
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-end">
                                        <a th:href="@{/management/chapter}" class="btn btn-warning btn-sm"><i class="fas fa-backspace"></i> Trở về</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-4">
                                <form th:action="@{/management/save-chapter}" th:object="${chapterForm}" method="POST" id="create-chapter-form" enctype="multipart/form-data">
                                    <input type="file" onchange="readURL(this);" class="d-none" id="fileImage" name="image">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors()}"> 
                                                <p class="m-0" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                                <p class="m-0" th:if="${#fields.hasErrors('content')}" th:errors="*{content}"></p>
                                            </div>
                                        </div>
                                        <div class="col-12" th:if="${success != null}">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <span class="alert-icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="alert-text" th:text="${success}"></span>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group" id="name-place">
                                                <label class="form-control-label" for="input-chapter-name">Tên chương <span class="text-danger">*</span></label>
                                                <input th:field="*{name}" type="text" id="input-chapter-name" placeholder="Nhập tên chương" class="form-control" name="name">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group" id="content-place">
                                                <label class="form-control-label" for="input-chapter-content">Nội dung <span class="text-danger">*</span></label>
                                                <input th:field="*{content}" id="input-chapter-content" class="form-control" name="content" placeholder="Nhập nội dung"></input>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="form-group" id="description-place">
                                                <label class="form-control-label" for="input-chapter-description">Mô tả</label>
                                                <textarea th:field="*{description}" id="input-chapter-description" placeholder="Nhập mô tả" class="form-control" name="description"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-control-label">Hình ảnh</label>
                                            <input id="images-question" type="file" class="file image-input" data-preview-file-type="Kéo và thả ảnh vào đây" th:field="*{images}" accept="image/*" multiple>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12 mt-3 text-center">
                                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Tạo</button>
                                            <a th:href="@{/management/create-chapter}" class="btn btn-secondary"><i class="fas fa-eraser"></i> Làm mới</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/create-chapter.js}"></script>
        </th:block>
    </body>
</html>