<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <meta charset="utf-8">
        <title>Thống kê</title>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-6">
              <div class="container-fluid">
                <div class="header-body">
                  <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page">Thống kê</li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                  <!-- Card stats -->
                  <div class="row">
                    <div class="col-xl-3 col-md-6">
                      <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Người dùng</h5>
                              <span class="h2 font-weight-bold mb-0" th:text="${numberOfAccount}"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="fas fa-users"></i>
                              </div>
                            </div>
                          </div>
                            <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">So với tháng trước</span>
                            </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                      <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Tổng số chương</h5>
                              <span class="h2 font-weight-bold mb-0" th:text="${numberOfChapter}"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="fas fa-book"></i>
                              </div>
                            </div>
                          </div>
                            <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">So với tháng trước</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                      <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Lượt đăng ký chưa phê duyệt</h5>
                              <span class="h2 font-weight-bold mb-0" th:text="${numberOfQuestion}"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class="fas fa-question"></i>
                              </div>
                            </div>
                          </div>
                            <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 48</span>
                            <span class="text-nowrap">Đã được duyệt</span>
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                      <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Lượt đăng ký mới</h5>
                              <span class="h2 font-weight-bold mb-0" th:text="${numberOfDrivingLicenseInfo}"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                <i class="ni ni-chart-bar-32"></i>
                              </div>
                            </div>
                          </div>
                          <p class="mt-3 mb-0 text-sm">
                            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
                            <span class="text-nowrap">So với tháng trước</span>
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--6">
              <div class="row">
                <div class="col-xl-8">
                  <div class="card">
                    <div class="card-header border-0">
                      <div class="row align-items-center">
                        <div class="col">
                          <h3 class="mb-0">Hồ sơ chờ phê duyệt</h3>
                        </div>
                        <div class="col text-right">
                          <a href="#!" class="btn btn-sm btn-primary">Xem toàn bộ</a>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Page name</th>
                            <th scope="col">Visitors</th>
                            <th scope="col">Unique users</th>
                            <th scope="col">Bounce rate</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                              /argon/
                            </th>
                            <td>
                              4,569
                            </td>
                            <td>
                              340
                            </td>
                            <td>
                              <i class="fas fa-arrow-up text-success mr-3"></i> 46,53%
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              /argon/index.html
                            </th>
                            <td>
                              3,985
                            </td>
                            <td>
                              319
                            </td>
                            <td>
                              <i class="fas fa-arrow-down text-warning mr-3"></i> 46,53%
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              /argon/charts.html
                            </th>
                            <td>
                              3,513
                            </td>
                            <td>
                              294
                            </td>
                            <td>
                              <i class="fas fa-arrow-down text-warning mr-3"></i> 36,49%
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              /argon/tables.html
                            </th>
                            <td>
                              2,050
                            </td>
                            <td>
                              147
                            </td>
                            <td>
                              <i class="fas fa-arrow-up text-success mr-3"></i> 50,87%
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              /argon/profile.html
                            </th>
                            <td>
                              1,795
                            </td>
                            <td>
                              190
                            </td>
                            <td>
                              <i class="fas fa-arrow-down text-danger mr-3"></i> 46,53%
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer py-4">
                    </div>
                  </div>
                </div>
                <div class="col-xl-4">
                  <div class="card">
                    <div class="card-header border-0">
                      <div class="row align-items-center">
                        <div class="col">
                          <h3 class="mb-0">Kỳ thi mới được tạo</h3>
                        </div>
                        <div class="col text-right">
                          <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Referral</th>
                            <th scope="col">Visitors</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">
                              Facebook
                            </th>
                            <td>
                              1,480
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="mr-2">60%</span>
                                <div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              Facebook
                            </th>
                            <td>
                              5,480
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="mr-2">70%</span>
                                <div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              Google
                            </th>
                            <td>
                              4,807
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="mr-2">80%</span>
                                <div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              Instagram
                            </th>
                            <td>
                              3,678
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="mr-2">75%</span>
                                <div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                          <tr>
                            <th scope="row">
                              twitter
                            </th>
                            <td>
                              2,645
                            </td>
                            <td>
                              <div class="d-flex align-items-center">
                                <span class="mr-2">30%</span>
                                <div>
                                  <div class="progress">
                                    <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                  </div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="card-footer py-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </th:block>
    </body>
</html>