<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <meta charset="utf-8">
        <title>Thống kê</title>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-6">
              <div class="container-fluid">
                <div class="header-body">
                  <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                          <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                          <li class="breadcrumb-item active" aria-current="page">Thống kê</li>
                        </ol>
                      </nav>
                    </div>
                  </div>
                  <!-- Card stats -->
                  <div class="row">
                    <div class="col-xl-4 col-md-6">
                      <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Người dùng mới trong tháng</h5>
                              <span class="h2 font-weight-bold mb-0" th:text="${numberOfAccount}"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                <i class="fas fa-users"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                      <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Tổng số chương</h5>
                              <span class="h2 font-weight-bold mb-0" th:text="${numberOfChapter}"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                <i class="fas fa-book"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xl-4 col-md-6">
                      <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                          <div class="row">
                            <div class="col">
                              <h5 class="card-title text-uppercase text-muted mb-0">Lượt thi thử</h5>
                              <span class="h2 font-weight-bold mb-0" th:text="${numberOfQuestion}"></span>
                            </div>
                            <div class="col-auto">
                              <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                <i class="fas fa-question"></i>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--6">
              <div class="row">
                <div class="col-12 col-xl-7">
                  <div class="card">
                    <div class="card-header border-0">
                      <div class="row align-items-center">
                        <div class="col">
                          <h3 class="mb-0">Người dùng mới 2 tháng gần nhất</h3>
                        </div>
                        <div class="col text-right">
                          <a th:href="@{/management/export-report-account}" class="btn btn-sm btn-primary" target="_blank"><i class="fas fa-file-export"></i> Xem báo cáo</a>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive" style="max-height: 500px">
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th width="5%">STT</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Số điện thoại</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th>Ngày đăng ký</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr th:each="acc,stat : ${listAccount}">
                                <td th:text="${stat.index + 1}">STT</td>
                                <td th:text="|${acc.lastName == null ? '' : acc.lastName} ${acc.middleName == null ? '' : acc.middleName} ${acc.firstName == null ? '' : acc.firstName}|"></td>
                                <td th:text="${acc.email}"></td>
                                <td th:text="${acc.numberPhone}"></td>
                                <td class="text-center" th:if="${acc.gender == 1}">Nam</td>
                                <td class="text-center" th:if="${acc.gender == 0}">Nữ</td>
                                <td class="text-center" th:if="${acc.gender == 2}">Khác</td>
                                <td class="text-center" th:if="${acc.gender == null || acc.gender == ''}">Chưa cập nhật</td>
                                <td th:text="${acc.email}"></td>
                                <td th:text="${#dates.format(acc.createAt, 'dd/MM/yyyy HH:mm')}"></td>
                            </tr>
                         </tbody>
                      </table>
                    </div>
                    <div class="card-footer py-4">
                        <span>Tổng số: </span>
                        <span class="font-weight-bold">[[${listAccount.size}]]</span>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-xl-5">
                  <div class="card">
                    <div class="card-header border-0">
                      <div class="row align-items-center">
                        <div class="col">
                          <h3 class="mb-0">Kỳ thi đang mở</h3>
                        </div>
                        <div class="col text-right">
                          <a href="#!" class="btn btn-sm btn-primary"> Xem báo cáo</a>
                        </div>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <!-- Projects table -->
                      <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                          <tr>
                            <th scope="col">Referral</th>
                            <th scope="col">Visitors</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                      </table>
                    </div>
                    <div class="card-footer py-4">
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </th:block>
    </body>
</html>