<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <title>Tạo Đề Thi</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" th:href="@{../css/create-exam-question.css}" type="text/css">
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-4">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-12">
                                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Chi tiết đề thi</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--6 mb-4">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col">
                                        <h2 class="m-0">Chi tiết đề thi</h2>
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-end">
                                        <a th:href="@{${'/management/detail-driving-license?drivingLicenseId='} + ${examQuestions.drivingLicense.drivingLicenseId}}" class="btn btn-warning btn-sm"><i class="fas fa-backspace"></i> Trở về</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-4">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Tên đề Thi <span class="text-danger">*</span></label>
                                            <div class="alert alert-secondary border" th:text="${examQuestions.name}"></div>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label class="form-control-label">Hạng</label>
                                        <h1><span class="badge badge-lg badge-pill badge-info w-100" th:text="${examQuestions.drivingLicense.name}"></span></h1>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="form-control-label" for="input-first-name">Mô Tả</label>
                                            <div class="alert alert-secondary border" th:text="${examQuestions.description}"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mt-4">
                            <div class="card-header">
                                <div class="row">
                                    <div class="col-12">
                                        <h3 class="m-0">Câu hỏi trong đề thi</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive" style="max-height:616px;">
                                <table class="table align-items-center table-hover">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">STT</th>
                                            <th class="text-center">Nội dung</th>
                                            <th class="text-center">Câu hỏi liệt</th>
                                            <th class="text-center">Cập nhật gần nhất</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="question : ${listQuestions}" th:if="${listQuestions != null && listQuestions.size != 0}">
                                            <th class="text-center p-1 pl-2">
                                                <span class="name mb-0 text-sm" th:text="|Câu ${question.number}|"></span>
                                            </th>
                                            <td class="text-center p-1">
                                                <span th:text="${question.content}"></span>
                                            </td>
                                            <td class="text-center p-1">
                                                <span class="text-success h1" th:if="${question.isParalysis}"><i class="fas fa-check-circle"></i></span>
                                                <span class="text-danger h1" th:unless="${question.isParalysis}"><i class="fas fa-times-circle"></i></span>
                                            </td>
                                            <td class="text-center p-1">
                                                <span th:text="${#dates.format(question.updateAt, 'MM/dd/yyyy HH:mm')}"></span>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr th:unless="${listQuestions != null && listQuestions.size != 0}">
                                            <td colspan="4"><span class="text-danger">Không có câu hỏi nào trong đề thi này!</span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/create-exam-questions.js}"></script>
        </th:block>
    </body>
</html>