<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-management}">

<head>
	<meta charset="utf-8">
	<title>Sửa chi tiết chương</title>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-12">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item"><a th:href="@{/management/dashboard}"><i
												class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">
									<a th:href="@{/management/chapter}">Quản lý chương</a></li>
									<li class="breadcrumb-item active" aria-current="page">Sửa chi tiết chương</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl-12 order-xl-1">
					<div class="card">
						<div class="card-header">
							<div class="row align-items-center">
								<div class="col-8">
									<h3 class="mb-0">Sửa chi tiết chương </h3>
								</div>
							</div>
						</div>
						<form class="card-body " th:action="@{/management/edit-chapter-detail}" th:object="${chapterForm}" method="POST">
							<div class="row">
								<div class="col-lg-6">
									<div class="form-group">
										<input type="hidden" th:field="*{chapterId}">
										<label class="form-control-label" for="input-name">Tên chương</label>
										<input th:field="*{name}" type="text" id="input-name" class="form-control" placeholder="1">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label" for="input-content">Nội dung</label>
										<input th:field="*{content}" type="text" id="input-content" class="form-control" placeholder="asd">
									</div>
								</div>
								<div class="col-lg-12">
									<div class="form-group">
										<label class="form-control-label" for="input-description">Mô Tả</label>
										<textarea th:field="*{description}" rows="4" class="form-control" placeholder="Mô tả về tôi"></textarea>
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Thời gian cập nhật: </label>
										<span th:text="${chapterForm.updateAt}">
									</div>
								</div>
								<div class="col-lg-6">
									<div class="form-group">
										<label class="form-control-label">Người cập nhật: </label>
										<span th:text="${chapterForm.updateBy}">
									</div>
								</div>
								<div class="col-12 text-center">
									<button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Cập
										nhật</button>
									<a th:href="@{${'/management/chapter-detail?chapterId='} + ${chapterForm.chapterId}}" class="btn btn-danger"><i
											class="fas fa-backspace"></i> Trở về</a>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{../js/edit-account.js}"></script>
	</th:block>
</body>

</html>