<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-management}">
<head>
<title>Tạo kỳ thi</title>
<meta charset="utf-8" />
</head>
<body>
	<th:block layout:fragment="content">
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-lg-6 col-7">
							<h6 class="h2 text-white d-inline-block mb-0">Đường dẫn</h6>
							<nav aria-label="breadcrumb"
								class="d-none d-md-inline-block ml-md-4">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item"><a href="#"><i
											class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item"><a
										th:href="@{/management/exam}">Danh sách kỳ thi</a></li>
									<li class="breadcrumb-item active" aria-current="page">Sửa kỳ thi</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row justify-content-center">
				<div class="col">
					<div class="card">
						<form th:action="@{/management/save-exam}"
							th:object="${examForm}" method="POST">
							<input type="hidden" name="isUpdate" value="true">
							<input type="hidden" name="examId" th:value="${examForm.examId}">
							<div class="card-header bg-transparent">
								<h3>Sửa kỳ thi</h3>
								<div class="form-group" style="font-weight: bold;">
									<i style="padding-left: 10px;" class="fas fa-id-badge mt-3"></i>
									ID: <span th:text="${examForm.examId}"/>
								</div>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-12 form-group">
										<p>Tên kỳ thi</p>
										<input type="text" class="form-control"
											placeholder="Tên kỳ thi" name="name" th:field="*{name}"
											maxlength="255" />
									</div>

								</div>
								<p>Mô tả kỳ thi</p>
								<div class="row mt-3">
									<div class="col-12">
										<textarea cols="5" class="form-control"
											placeholder="Mô tả kỳ thi" name="description"
											th:field="*{description}" maxlength="4000"></textarea>
									</div>
								</div>
								<div
									class="input-daterange datepicker row align-items-center mt-3">
									<div class="col-6">
										<p>Ngày bắt đầu đăng ký</p>
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i
														class="ni ni-calendar-grid-58"></i></span>
												</div>
												<input class="form-control"
													placeholder="Ngày bắt đầu đăng ký" type="text"
													autocomplete="off" th:field="*{dateRegisExamStart}"
													maxlength="10">
											</div>
										</div>
									</div>
									<div class="col-6">
										<p>Ngày kết thúc đăng ký</p>
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend">
													<span class="input-group-text"><i
														class="ni ni-calendar-grid-58"></i></span>
												</div>
												<input class="form-control"
													placeholder="Ngày kết thúc đăng ký" type="text"
													autocomplete="off" th:field="*{dateRegisExamEnd}"
													maxlength="10">
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-6">
										<p>Người cập nhật</p>
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend"></div>
												<span th:text="*{updateBy}"></span>
											</div>
										</div>
									</div>
									<div class="col-6">
										<p>Thời gian cập nhật</p>
										<div class="form-group">
											<div class="input-group">
												<div class="input-group-prepend"></div>
												<span th:text="*{updateAt}"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-3">
									<div class="col-12 mt-3 text-center">
										<input type="submit" value="Sửa kỳ thi"
											class="btn btn-primary" /> <a
											th:href="@{/management/create-exam}"
											class="btn btn-secondary">Làm mới</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>
</html>