<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <title>Quản lý kỳ thi</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-6">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align- items-center py-4">
                            <div class="col-lg-6 col-7">
                                <nav aria-label="breadcrumb"
                                    class="d-none d-md-inline-block">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a href="#"><i
                                                class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Quản lý kỳ thi</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-12">
                                <div class="card card-stats">
                                    <!-- Card body -->
                                    <div class="card-body">
                                        <form class="row mt-3" th:action="@{/management/search-exam}" th:object="${formSearchExam}" method="POST" id="formSearch">
                                            <div class="col-12">
                                                <div class="alert alert-info" role="alert" th:if="${messageSuccess != null}" th:text="${messageSuccess}">
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <h5 class="card-title text-uppercase text-muted mb-0">Tìm kiếm</h5>
                                            </div>
                                            <input type="hidden" th:field="*{pageNumber}" id="pageNumber">
                                            <div class="col-6 mt-3">
                                                <input type="text" class="form-control"
                                                    placeholder="Tên kỳ thi" th:field="*{name}" autofocus>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <input type="text" class="form-control" placeholder="Người cập nhật" th:field="*{updateBy}">
                                            </div>
                                            <div class="col-12 mt-3">
                                                <textarea class="form-control" placeholder="Mô tả" th:field="*{description}"></textarea>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <div class="input-daterange datepicker row align-items-center">
                                                    <div class="col">
                                                        <div class="form-group m-0">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"> <i
                                                                        class="ni ni-calendar-grid-58"></i></span>
                                                                </div>
                                                                <input class="form-control" placeholder="Kết thúc đăng ký từ ngày" type="text" th:field="*{dateRegisExamEndFrom}" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group m-0">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"> 
                                                                        <i class="ni ni-calendar-grid-58"></i>
                                                                    </span>
                                                                </div>
                                                                <input class="form-control" placeholder="Đến ngày" type="text" th:field="*{dateRegisExamEndTo}" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6 mt-3">
                                                <div class="input-daterange datepicker row align-items-center">
                                                    <div class="col">
                                                        <div class="form-group m-0">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"> 
                                                                        <i class="ni ni-calendar-grid-58"></i>
                                                                    </span>
                                                                </div>
                                                                <input class="form-control" placeholder="Cập nhật từ ngày" type="text" th:field="*{updateAtFrom}" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="form-group m-0">
                                                            <div class="input-group">
                                                                <div class="input-group-prepend">
                                                                    <span class="input-group-text"> 
                                                                        <i class="ni ni-calendar-grid-58"></i>
                                                                    </span>
                                                                </div>
                                                                <input class="form-control" placeholder="Đến ngày" type="text" th:field="*{updateAtTo}" autocomplete="off">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12 mt-3">
                                                <button class="btn btn-primary"><i class="fas fa-search"></i> Tìm kiếm</button>
                                                <a th:href="@{../management/exam}" class="btn btn-info"><i class="fas fa-eraser"></i> Xóa</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <div class="row justify-content-center">
                    <div class=" col">
                        <div class="card">
                            <div class="card-header bg-transparent">
                                <div class="row">
                                    <h3 class="mb-0 col-10">Danh sách kỳ thi</h3>
                                    <div class="col-2">
                                         <a th:href="@{/management/create-exam}" class="btn btn-sm btn-success float-right"><i class="fas fa-plus"></i> Kỳ thi mới</a>
                                     </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table align-items-center">
                                    <thead class="thead-light">
                                        <tr class="text-center">
                                            <th scope="col" class="sort" data-sort="status">ID</th>
                                            <th scope="col" class="sort" data-sort="budget">Tên kỳ thi</th>
                                            <th scope="col" class="sort" data-sort="status">Mô tả kỳ thi</th>
                                            <th scope="col" class="sort" data-sort="status">Ngày KT đăng ký</th>
                                            <th scope="col" class="sort" data-sort="status">Ngày thi chính thức</th>
                                            <th scope="col" class="sort" data-sort="status">Cập nhật lần cuối</th>
                                            <th scope="col" class="sort" data-sort="status">Người cập nhật</th>
                                            <th scope="col" class="sort" data-sort="status"></th>
                                        </tr>
                                    </thead>
                                    <tbody class="list">
                                        <tr th:each="exam : ${pageContent.content}">
                                            <th scope="row" class="text-center" th:text="${exam.examId}"></th>
                                            <td class="text-center"><a th:href="@{${'/management/update-exam?examId='} + ${exam.examId}}" th:text="${exam.name}"></a></td>
                                            <td class="text-center" th:text="${exam.description}"></td>
                                            <td class="text-center" th:text="${#dates.format(exam.dateRegisExamEnd, 'dd-MM-yyyy')}"></td>
                                            <td class="text-center" th:text="${#dates.format(exam.dateExam, 'dd-MM-yyyy')}"></td>
                                            <td class="text-center" th:text="${#dates.format(exam.updateAt, 'dd-MM-yyyy')}"></td>
                                            <td class="text-center" th:text="${exam.updateBy}"></td>
                                            <td class="text-center">
                                                <a onclick="deleteItem()" class="btn btn-danger btn-sm" th:href="@{${'/management/delete-exam?examId='} + ${exam.examId}}"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer py-4">
                                <div th:insert="fragment-common/pagination :: pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/delete-exam.js}"></script>
        </th:block>
    </body>
</html>