<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-management}">

<head>
	<title>Quản lý đề thi</title>
	<meta charset="utf-8">
</head>

<body>
	<th:block layout:fragment="content">
		<div class="header bg-primary pb-6">
			<div class="container-fluid">
				<div class="header-body">
					<div class="row align-items-center py-4">
						<div class="col-12">
							<nav aria-label="breadcrumb" class="d-none d-md-inline-block">
								<ol class="breadcrumb breadcrumb-links breadcrumb-dark">
									<li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
									<li class="breadcrumb-item active" aria-current="page">Quản lý đề thi</li>
								</ol>
							</nav>
						</div>
						<div class="col-12">
							<div class="card card-stats">
								<!-- Card body -->
								<div class="card-body">
									<div class="row">
										<div class="col-12">
											<h5 class="card-title text-uppercase text-muted mb-0">Tìm kếm</h5>
											<form class="row mt-3" th:action="@{/management/search-exam-questions}"
												th:object="${formSearchExamQuestions}" method="post" id="formSearch">
												<input type="hidden" th:field="*{pageNumber}" id="pageNumber">
												<div class="col-6">
													<input type="text" class="form-control" placeholder="Tên đề thi" 
														autofocus th:field="*{name}">
												</div>
												<div class="col-6">
													<input type="text" class="form-control" placeholder="Mô Tả"  autofocus>
												</div>
												<div class="col-12 mt-3">
													<div class="input-daterange datepicker row align-items-center">
														<div class="col">
															<div class="form-group">
																<div class="input-group">
																	<div class="input-group-prepend">
																		<span class="input-group-text"><i
																				class="ni ni-calendar-grid-58"></i></span>
																	</div>
																	<input class="form-control"
																		placeholder="Ngày cập nhật từ" type="text" th:field="*{updateAtFrom}"
																		autocomplete="off">
																</div>
															</div>
														</div>
														<div class="col">
															<div class="form-group">
																<div class="input-group">
																	<div class="input-group-prepend">
																		<span class="input-group-text"><i
																				class="ni ni-calendar-grid-58"></i></span>
																	</div>
																	<input class="form-control"
																		placeholder="Ngày cập nhật đến" type="text" th:field="*{updateAtTo}"
																		autocomplete="off">
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="col-12">
													<button class="btn btn-primary"><i class="fas fa-search"></i> Tìm
														kiếm</button>
													<a th:href="@{../management/exam-questions-management}" class="btn btn-info"><i
															class="fas fa-eraser"></i> Xóa</a>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid mt--6">
			<div class="row justify-content-center">
				<div class=" col">
					<div class="card">
						<div class="card-header bg-transparent row">
							<h3 class="mb-0 col-10">Toàn bộ đề thi</h3>
							<div class="col-2">
								<a th:href="@{/management/create-chapter}" class="btn btn-sm btn-success float-right"><i
										class="fas fa-plus"></i> Đề thi mới</a>
							</div>
						</div>
						<div class="table-responsive">
							<table class="table align-items-center table-flush">
								<thead class="thead-light">
									<tr>
										<th scope="col" class="text-center" data-sort="name">Tên đề thi</th>
										<th scope="col" class="text-center" data-sort="name">Mô Tả</th>
										<th scope="col" class="text-center" data-sort="budget">Số lượng câu hỏi</th>
										<th scope="col" class="text-center" data-sort="status">Thời gian cập nhật</th>
										<th scope="col" class="text-center" data-sort="status">Người cập nhật</th>
										<th scope="col"></th>
									</tr>
								</thead>
								<tbody class="list" th:if="${pageContent.totalElements != 0}">
									<tr th:each="examQuestions : ${pageContent.content}">
										<td class="text-center">
											<a th:text="${examQuestions.name}" href="#"></a>
										</td>
										<td class="text-center">
											<span th:text="${examQuestions.description}"></span>
										</td>
										<td class="text-center">
											<span th:text="${examQuestions.listExamQuestionsDetail.size}"></span>
										</td>
										<td class="text-center">
											<span th:text="${examQuestions.updateAt}"></span>
										</td>
										<td class="text-center">
											<span th:text="${examQuestions.updateBy}"></span>
										</td>
									</tr>
								</tbody>
								<tbody class="list" th:if="${pageContent.totalElements == 0}">
									<tr>
										<td colspan="5"><span class="text-danger">Không có dữ liệu!</span></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="card-footer py-4">
							<div th:insert="fragment-common/pagination :: pagination"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</th:block>
</body>

</html>