<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <title>Sửa kỳ thi</title>
        <meta charset="utf-8" />
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-lg-6 col-7">
                                <nav aria-label="breadcrumb"
                                    class="d-none d-md-inline-block">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item"><a href="#"><i
                                                class="fas fa-home"></i></a></li>
                                        <li class="breadcrumb-item"><a
                                            th:href="@{/management/exam}">Danh sách kỳ thi</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Sửa kỳ thi</li>
                                    </ol>
                                </nav>
                            </div>
                            <div class="col-12">
                                <div class="card">
                                    <form th:action="@{/management/update-exam}" th:object="${examUpdateForm}" method="POST" id="update-exam-form">
                                        <input type="hidden" name="examId" th:value="${examUpdateForm.examId}">
                                        <div class="card-header bg-transparent row">
                                            <div class="col-10">
                                                <h1 class="m-0">Chỉnh sửa kỳ thi</h1>
                                            </div>
                                            <div class="col-2 d-flex align-items-center justify-content-end">
                                                <a th:href="@{${'/management/detail-exam?examId='} + ${examUpdateForm.examId}}" class="btn btn-warning btn-sm"><i class="fas fa-backspace"></i> Trở về</a>
                                            </div>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-12">
                                                    <span class="badge badge-pill badge-info badge-lg" th:text="${examUpdateForm.typeDrivingLicense}"></span>
                                                </div>
                                                <div class="col-12 mt-4">
                                                    <label class="form-control-label" for="exam-name">Tên kỳ thi<span class="text-danger"> *</span></label>
                                                    <input type="text" class="form-control" placeholder="Tên kỳ thi" th:field="*{name}" maxlength="255" id="exam-name"/>
                                                </div>
                                                <div class="col-12 mt-3">
                                                    <label class="form-control-label" for="exam-name">Mô tả về kỳ thi</label>
                                                    <textarea cols="5" class="form-control" placeholder="Mô tả kỳ thi" th:field="*{description}" maxlength="4000"></textarea>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <label class="form-control-label" for="dateRegisExamEnd">Hạn đăng ký<span class="text-danger"> *</span></label>
                                                    <div class="input-group" id="dateRegisExamEndArea">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text">
                                                                <i class="ni ni-calendar-grid-58"></i>
                                                            </span>
                                                        </div>
                                                        <input class="form-control datepicker" placeholder="Hạn đăng ký" type="text" autocomplete="off" th:field="*{strDateRegisExamEnd}" id="dateRegisExamEnd" maxlength="10">
                                                    </div>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <label class="form-control-label">Ngày thi chính thức</label>
                                                    <span class="alert-secondary border form-control" th:text="${#dates.format(examUpdateForm.dateExam, 'dd/MM/yyyy')}"></span>
                                                </div>
                                                <div class="col-6 mt-3">
                                                    <div class="form-group">
                                                        <label class="form-control-label">Trạng thái</label>
                                                        <div class="alert alert-success rounded-pill w-25 text-center" th:if="${examUpdateForm.status == 1 && examUpdateForm.dateRegisExamEnd.after(#dates.createNow())}"><strong>ĐANG MỞ</strong></div>
                                                        <div class="alert alert-danger rounded-pill w-25 text-center" th:if="${examUpdateForm.status == 2}"><strong>ĐÃ HỦY</strong></div>
                                                        <div class="alert alert-warning rounded-pill w-25 text-center" th:if="${examUpdateForm.dateRegisExamEnd.before(#dates.createNow())}"><strong>HẾT HẠN</strong></div>
                                                        <div class="alert alert-default rounded-pill w-25 text-center" th:if="${examUpdateForm.status == null}"><strong>KHÔNG XÁC ĐỊNH</strong></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-12 mt-3 text-center">
                                                    <button class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/update-exam.js}"></script>
        </th:block>
    </body>
</html>