<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <meta charset="utf-8">
        <title>Sửa chi tiết chương</title>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header bg-primary pb-4">
                <div class="container-fluid">
                    <div class="header-body">
                        <div class="row align-items-center py-4">
                            <div class="col-12">
                                <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
                                    <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                        <li class="breadcrumb-item">
                                            <a th:href="@{/management/dashboard}"><i class="fas fa-home"></i></a>
                                        </li>
                                        <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/management/chapter}">Quản lý chương</a></li>
                                        <li class="breadcrumb-item active" aria-current="page"><a th:href="@{/management/chapter}">Chi tiết chương</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Chỉnh sửa chương</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-12 order-xl-1">
                        <div class="card">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-10">
                                        <h2 class="mb-0">Chỉnh sửa chương</h2>
                                    </div>
                                    <div class="col-2 d-flex align-items-center justify-content-end">
                                        <a th:href="@{${'/management/chapter-detail?chapterId='} + ${chapterForm.chapterId}}" class="btn btn-warning btn-sm"><i class="fas fa-backspace"></i> Trở về</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body px-4">
                                <form th:action="@{/management/update-chapter}" th:object="${chapterForm}" method="POST" id="update-chapter-form" enctype="multipart/form-data">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors()}"> 
                                                <p class="m-0" th:if="${#fields.hasErrors('index')}" th:errors="*{index}"></p>
                                                <p class="m-0" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                                            </div>
                                        </div>
                                        <div class="col-12" th:if="${success != null}">
                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                                <span class="alert-icon"><i class="fas fa-check-circle"></i></span>
                                                <span class="alert-text" th:text="${success}"></span>
                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <input type="hidden" th:field="*{chapterId}">
                                                <label class="form-control-label" for="input-name">Chỉ mục <span class="text-danger">*</span></label>
                                                <input th:field="*{index}" type="text" id="input-name" class="form-control" placeholder="Chỉ mục">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label class="form-control-label" for="name">Tên chương <span class="text-danger">*</span></label>
                                                <input th:field="*{name}" type="text" id="name" class="form-control" placeholder="Tên chương">
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="form-group">
                                                <label class="form-control-label" for="input-description">Mô Tả</label>
                                                <textarea th:field="*{description}" rows="4" class="form-control" placeholder="Mô tả về tôi"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-12" th:if="${chapter.listImages != null && chapter.listImages.size != 0}">
                                            <label class="form-control-label">Hình ảnh</label>
                                        </div>
                                        <div class="col-4 p-3" th:each="document : ${chapter.listImages}" th:if="${chapter.listImages != null && chapter.listImages.size != 0}">
                                            <img alt="" th:src="${document.path}" class="w-100 h-100 border rounded shadow">
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-control-label" th:if="${chapter.listImages != null && chapter.listImages.size != 0}">Đổi ảnh</label>
                                                <label class="form-control-label" th:unless="${chapter.listImages != null && chapter.listImages.size != 0}">Thêm ảnh</label>
                                                <input id="images-question" type="file" class="file image-input" data-preview-file-type="Kéo và thả ảnh vào đây" th:field="*{images}" accept="image/png, image/gif, image/jpeg" multiple>
                                            </div>
                                        </div>
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Lưu</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/update-chapter.js}"></script>
        </th:block>
    </body>
</html>