<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-management}">

<head>
	<meta charset="utf-8">
	<title>Xem thông tin</title>
</head>

<body>
	<th:block layout:fragment="content">
		<div class="header pb-6 d-flex align-items-center"
			style="min-height: 500px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">

			<!-- Mask -->
			<span class="mask bg-gradient-default opacity-8"></span>
			<!-- Header container -->
			<div class="container-fluid d-flex align-items-center">
				<div class="row">
					<div class="col-lg-7 col-md-10">
						<h1 class="display-2 text-white">Hi Sir</h1>
						<p class="text-white mt-0 mb-5">This is your profile page. You can see the progress you've made
							with your work and manage your projects or assigned tasks</p>

					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid mt--6">
			<div class="row">
				<div class="col-xl-4 order-xl-2">
					<div class="card card-profile">
						<img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
						<div class="row justify-content-center">
							<div class="col-lg-3 order-lg-2">
								<div class="card-profile-image">
									<label for="fileImage">
										<img src="../assets/img/theme/team-4.jpg" class="rounded-circle"
											id="image-preview">
									</label>
									<br></br>
								</div>
							</div>
						</div>
						<div class="card-body pt-0">
							<div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
								<div class="d-flex justify-content-between">
								</div>
							</div>
							<div class="text-center">
								<h5 class="h3">
									Anh Phạm<span class="font-weight-light">, 21</span>
								</h5>
								<div class="h5 font-weight-300">
									<i class="ni location_pin mr-2"></i>Đà Nẵng, Việt Nam, Trái đất.
								</div>
								<div class="h5 mt-4">
									<i class="ni business_briefcase-24 mr-2"></i>Full stack - Project Manager - Business
									Analyst
								</div>
								<div>
									<i class="ni education_hat mr-2"></i>FPT University
								</div>
								<div class="mt-4">
									<button style="" href="#" class="btn btn-primary">Đổi mật khẩu</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-8 order-xl-1">
					<div class="card">
						<div class="card-body">
							<form>
								<h6 class="heading-small text-muted mb-4">THÔNG TIN CƠ BẢN</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-first-name">Họ</label>
												<input type="text" id="input-first-name" class="form-control"
													placeholder="Họ" value="Phạm"></div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-middle-name">Tên
													đệm</label>
												<input type="text" id="input-middle-name" class="form-control"
													placeholder="Tên đệm" value="Quang">
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-last-name">Tên</label>
												<input type="text" id="input-last-name" class="form-control"
													placeholder="Tên" value="Anh">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-6">
											<div class="form-group" id="birthday-place">
												<label class="form-control-label" for="input-birthday">Ngày sinh</label>
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text"><i
																class="ni ni-calendar-grid-58"></i></span>
													</div>
													<input class="form-control datepicker" id="input-birthday"
														placeholder="Ngày sinh" type="text" name="birthDay"
														value="09/01/1999">
												</div>
											</div>
										</div>
										<div class="col-6">
											<div class="form-group">
												<label class="form-control-label" for="input-number-phone">Số điện
													thoại</label>
												<input type="text" id="input-number-phone" placeholder="Số điện thoại"
													class="form-control" name="numberPhone" value="0957694663">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label" for="input-email">Email</label>
												<input type="email" id="input-email" class="form-control"
													value="skygarden@yahoo.com.vn">
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label" for="input-username">Tên đăng
													nhập</label>
												<input type="text" id="input-username" class="form-control"
													placeholder="Username" value="admin">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label" for="input-gender">Giới tính</label>
												<select class="form-control" id="input-gender" name="gender">
													<option value="1">Nam</option>
													<option value="0">Nữ</option>
													<option value="2">Khác</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6">
											<div class="form-group">
												<label class="form-control-label" for="role">Quyền</label>
												<select class="form-control" id="role" name="roles">
													<option value="0">Admin</option>
													<option value="1">User</option>

												</select>
											</div>
										</div>
									</div>
								</div>
								<!-- Address -->
								<h6 class="heading-small text-muted mb-4">THÔNG TIN KHÁC</h6>
								<div class="pl-lg-4">
									<div class="row">
										<div class="col-md-12">
											<div class="form-group">
												<label class="form-control-label" for="input-address">Địa chỉ</label>
												<input id="input-address" class="form-control" placeholder=""
													value="Đà Nẵng">
											</div>
										</div>
									</div>
									<div class="row">
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-city">Phường</label>
												<select class="form-control">
													<option>Phước Mỹ</option>
													<option>An Hải Bắc</option>
													<option>An Hải Đông</option>
													<option>An Hải Tây</option>
													<option>Mân Thái</option>
													<option>Nại Hiên Đông</option>
													<option>Thọ Quang</option>
													<option>...</option>
												</select>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-country">Quận</label>
												<select class="form-control">
													<option>Sơn Trà</option>
													<option>Hải Châu</option>
													<option>Cẩm Lệ</option>
													<option>Thanh Khê</option>
													<option>Liên Chiểu</option>
													<option>Ngũ Hành Sơn</option>
													<option>Hòa Vang</option>
													<option>Hoàng Sa</option>
													<option>...</option>
												</select>
											</div>
										</div>
										<div class="col-lg-4">
											<div class="form-group">
												<label class="form-control-label" for="input-country">Thành phố</label>
												<select class="form-control">
													<option>Đà Nẵng</option>
													<option>Và còn 63 tỉnh thành khác nữa ^^</option>
												</select>
											</div>
										</div>
									</div>
								</div>
								<!-- Description -->
								<h6 class="heading-small text-muted mb-4">Miêu tả về tôi</h6>
								<div class="pl-lg-4">
									<div class="form-group">
										<textarea rows="4" class="form-control"
											placeholder="Hí ae, mình làm xong form rồi, hôm nay hơi mệt, mình xin off nốt bữa hôm nay nhé, yêu cả lò nhà mình! :v"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="col-12 text-center">
										<button type="submit" class="btn btn-primary">Cập nhật hồ sơ</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</th:block>
	<th:block layout:fragment="script">
		<script th:src="@{../js/edit-account.js}"></script>
	</th:block>
</body>

</html>