<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout-management}">
    <head>
        <meta charset="utf-8">
        <title>Xem thông tin</title>
    </head>
    <body>
        <th:block layout:fragment="content">
            <div class="header pb-6 d-flex align-items-center"
                style="min-height: 500px; background-image: url(../assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
                <!-- Mask -->
                <span class="mask bg-gradient-default opacity-8"></span>
                <!-- Header container -->
                <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <h1 class="display-2 text-white">Hi [[${customerUpdateForm.lastName}]] [[${customerUpdateForm.middleName}]] [[${customerUpdateForm.firstName}]]</h1>
                            <p class="text-white mt-0 mb-5">Đây là trang cá nhân của bạn. Tại đây bạn có thể xem thông tin cơ bản và những thông tin liên quan khác về bạn.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid mt--6">
                <div class="row">
                    <div class="col-xl-4 order-xl-2">
                        <div class="card card-profile">
                            <img src="../assets/img/theme/img-1-1000x600.jpg" alt="Image placeholder" class="card-img-top">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <label for="avatar">
                                            <img class="rounded-circle" th:src="${customerLogin.urlAvatar}" th:if="${customerLogin.urlAvatar != null}">
                                            <img class="rounded-circle" th:src="@{../assets/img/default-avartar.jpg}" th:if="${customerLogin.urlAvatar == null}">
                                        </label>
                                    </div>
	                                <form th:action="@{/management/upload-avatar}" method="POST" enctype="multipart/form-data" id="formUploadAvatar">
	                                    <input type="file" name="data" class="d-none" id="avatar" onchange="changeAvatar()" accept="image/png, image/gif, image/jpeg">
	                                    <input type="hidden" name="customerId" th:value="${customerUpdateForm.customerId}">
	                                </form>
                                </div>
                            </div>
                            <div class="card-body pt-0 mt-4">
                                <div class="row mt-5">
                                    <div class="col-12 text-center">
                                        <h3 th:text="${customerLogin.userName}"></h3>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <a href="#" class="btn btn-sm btn-primary">Đổi mật khẩu</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8 order-xl-1">
                        <div class="card">
                            <div class="card-body">
                                <form id="update-profile-form" th:action="@{/management/update-customer-view}" th:object="${customerUpdateForm}" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" th:field="*{customerId}"/>
                                    <div class="row">
                                        <div class="col-6">
                                            <h6 class="heading-small text-muted mb-3">THÔNG TIN CƠ BẢN</h6>
                                        </div>
                                        <div class="col-lg-6 text-right">
                                            <div class="form-group">
                                                <span class="badge badge-pill badge-success badge-lg" th:if="${customerUpdateForm.roleId == 1}">Quản trị viên</span>
                                                <span class="badge badge-pill badge-warning badge-lg" th:if="${customerUpdateForm.roleId == 2}">Người dùng</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="alert alert-danger" th:if="${#fields.hasErrors()}"> 
                                                <p class="m-0" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                                                <p class="m-0" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                                                <p class="m-0" th:if="${#fields.hasErrors('birthDay')}" th:errors="*{birthDay}"></p>
                                                <p class="m-0" th:if="${#fields.hasErrors('numberPhone')}" th:errors="*{numberPhone}"></p>
                                                <p class="m-0" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="pl-lg-4">
	                                    <div class="row">
	                                        <div class="col-12" th:if="${success != null}">
	                                            <div class="alert alert-success alert-dismissible fade show" role="alert">
	                                                <span class="alert-icon"><i class="fas fa-check-circle"></i></span>
	                                                <span class="alert-text" th:text="${success}"></span>
	                                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	                                                    <span aria-hidden="true">&times;</span>
	                                                </button>
	                                            </div>
	                                        </div>
	                                    </div>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group mb-0" id="lastName-place">
                                                    <label class="form-control-label" for="input-first-name">Họ</label><span class="text-danger">*</span>
                                                    <input type="text" id="input-first-name" class="form-control" th:field="*{lastName}" name="lastName">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group mb-0" id="middleName-place">
                                                    <label class="form-control-label" for="input-middle-name">Tên đệm</label>
                                                    <input id="input-middle-name" class="form-control" th:field="*{middleName}">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group mb-0" id="firstName-place">
                                                    <label class="form-control-label" for="input-last-name">Tên</label><span class="text-danger">*</span>
                                                    <input type="text" id="input-last-name" class="form-control" th:field="*{firstName}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group mb-0 mt-4" id="birthday-place">
                                                    <label class="form-control-label" for="input-birthday">Ngày sinh</label><span class="text-danger">*</span>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                                        </div>
                                                        <input class="form-control datepicker" id="input-birthday" name="birthDay" th:field="*{birthDay}">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group mb-0 mt-4" id="numberPhone-place">
                                                    <label class="form-control-label" for="input-number-phone">Số điện thoại</label><span class="text-danger">*</span>
                                                    <input type="text" id="input-number-phone" class="form-control" th:field="*{numberPhone}">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group mb-0 mt-4" id="email-place">
                                                    <label class="form-control-label" for="input-email">Email</label><span class="text-danger">*</span>
                                                    <input type="text" id="input-email" class="form-control" th:field="*{email}">
                                                </div>
                                            </div>
	                                        <div class="col-lg-6">
	                                            <div class="form-group mb-0 mt-4" id="gender-place">
	                                                <label class="form-control-label" for="input-gender">Giới tính</label>
	                                                <span class="text-danger">*</span>
	                                                <select th:field="*{gender}" class="form-control" id="input-gender" name="gender">
	                                                    <option value="">--------Chọn giới tính----------</option>
	                                                    <option value="1">Nam</option>
	                                                    <option value="0">Nữ</option>
	                                                    <option value="2">Khác</option>
	                                                </select>
	                                            </div>
	                                        </div>
                                        </div>
                                    </div>
                                    <!-- Description -->
                                    <h6 class="heading-small text-muted mt-5 mb-3">Mô tả về tôi</h6>
                                    <div class="pl-lg-4">
                                        <div class="form-group">
                                            <textarea rows="4" class="form-control" th:field="*{description}"></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 text-center">
                                            <button type="submit" class="btn btn-primary">Cập nhật hồ sơ</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
        <th:block layout:fragment="script">
            <script th:src="@{../js/update-profile.js}"></script>
        </th:block>
    </body>
</html>